<div class="about-container">
    <h2>About Us</h2>
  <div class="text-section">
      <p>Skateboards are built using just a few key parts, and there are optional components you can add to personalize your board even further. Warehouse Skateboard carries everything you need to custom build your board exactly how you want it, and we also sell pre-assembled skateboard completes.</p>
  </div>
  <div class="image-section">
    <img src="https://media.istockphoto.com/id/1446849679/photo/in-the-evening-a-boy-is-playing-skateboard.webp?b=1&s=170667a&w=0&k=20&c=1CLaKLPPkaS_GWP5JxSeYgTbNkqFAROru4C413iwkZM=" alt="About Image">
  </div>  
</div>
