<h1> Edit Product</h1>

<form (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Name</label>
    <input type="name" name="name" [(ngModel)] ="product.name">
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text" id="description" [(ngModel)] ="product.description">
    </div>
    <div>
        <label for="price">Price</label>
        <input type="number" id="price" [(ngModel)]="product.price" name="price">
    </div>
    <div>
        <label for="style">style</label>
        <input type="text" id="style" [(ngModel)]="product.style" name="style">
    </div>
    <div>
        <label for="imageUrl"></label>
        <input type="image" id="imageUrl" [(ngModel)]="product.imageUrl">
    </div>
    <button type="submit">Submit</button>
  </form>